@font-face {
  font-family: bulgatti;
  src: url('ressources/Bulgatti.ttf');
}

@font-face {
    font-family: titles;
    src: url('ressources/titles.ttf');
}


/* Reset and Basic Styling */
body {
    background-image: url("ressources/samurai3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


    font-size: 3vmin;
    font-weight: 300;
    margin: 0rem;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;

}

.wrapper{
    padding: 0 20px; /* Add padding to the wrapper */
}

/* Header Styling */
header {
    font-family: bulgatti;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header img {
    max-height: 100px; /* Adjust this size as needed */
}

/* Navigation Styling */
nav {
    background-color: #333;
    padding: 0.5em;
    margin-bottom: 5vmin;
}

nav a:hover,
footer a:hover {
    color: #87bdd8;
}

/* List and Link Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #87bdd8;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    clear: both; /* Clear any floats from the sections */
}

footer nav {
    margin-top: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #87bdd8;
}


/* Section Styling */
section {
    width : 70%;
    margin: 20px auto;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 1); /* Adjust the background color opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Set initial opacity to 0 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for opacity */
    border-radius: 10px;
}

section img{
    width: 100%;
}

section h1 {
    text-align: center;
    font-family: titles;
}

section.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Add the 'fade-out' class for the fade-out animation */
section.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Odd sections (1st, 3rd, 5th, etc.) will be on the left side */
section:nth-child(odd) {
    float: left;
    clear: left;
    margin-right: 3vw;
}

/* Even sections (2nd, 4th, 6th, etc.) will be on the right side */
section:nth-child(even) {
    float: right;
    clear: right;
    margin-left: 3vw;

}

/* Clear floats after every second section to prevent layout issues */
section:nth-child(2n) {
    clear: both;
}

/* Add some margin to the bottom of the last section */
section:last-child {
    margin-bottom: 50px; /* Adjust the value to your preference */
}

section a {
    color: black;
    font-size: 3vmin;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

#me {
    width : 50%;
}

#socials img{
    width :2vmin;
}


#portfolio{
    height: 45vmin;
    width: 95%;
    background-color: black;
    margin-top : 4vmin;
    margin-bottom: 4vmin;
    overflow: hidden;
}

#image-track{
    display: flex;
    gap: 4vmin;
    position: relative;
    top: 50%;
    left: 4vmin;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track > .image {
    width:25%;
    height: 40vmin;
    object-fit: cover;
    object-position: 100% center;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {

    body{
        font-size: 5vmin;
    }
    header h1 {
        font-size: 2.5em; 
    }
    li {
        display: block;
        margin: 10px 0;
        margin-bottom: 8px;
    }
    section a {
        font-size: 5vmin; 
        font-weight: 300;
    }
    section {
        float: none;
        clear: both;
        margin-top: 1vmin;
        margin-bottom: 1vmin;
    }

    #image-track > .image {
        height: 25vm;
    }

    #socials img {
        width: 3vmin;
    }
}

@media screen and (min-width: 900px) {
    header h1 {
        font-size: 3em; /* Adjust font size for screens 900px and above */
    }
    a {
        font-size: 22px; /* Adjust font size for medium screens */
    }
}

@media screen and (min-width: 1200px) {
    header h1 {
        font-size: 3.5em; /* Adjust font size for screens 1200px and above */
    }
    a {
        font-size: 30px; /* Adjust font size for medium screens */
    }
}
